<!-- include header -->
<%- include('include/_header')%>
<!-- /include header -->
<header id="header" class="animate__animated animate__flipInX">
    <nav>
        <div class="container">
            <div class="text-center">
                <a href="/feedbacktbl"  ><h2>Feedback</h2></a>
            </div>
        </div>
    </nav>
</header>

<!-- Main section -->
<main id="site-main">
    <div class="container">
<!-- /Main section -->

<!-- include footer -->
<%- include('include/_footer')%>
<!-- /include footer -->


<!-- form handling -->
<form action="/" method="post">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>How satisfied<br> are you with <br>our service ?</th>
                <th>How would you<br> rate overall experience<br> with our service ?</th>
                <th>Would recommend<br> our service to <br>other people ?</th>
                <th>Tell us how <br>we can improve</th>
                <th>DELETE</th>

            </tr>
            <tbody>
                <% for(var i=0; i<users.length; i++){ %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><%= users[i].email%></td>
                        <td><%= users[i].category1%></td>
                        <td><%= users[i].category2%></td>
                        <td><%= users[i].category3%></td>
                        <td><%= users[i].message%></td>
                        <td>
                            <a class="btn border-shadow2 delete" data-id=<%=users[i]._id%> >
                                <span class="text-gradient"><i class="fas fa-times" ></i></span>
                            </a>
                        </td>
                    </tr>
                <% } %>
                </tbody>
        </thead>
    </table>
</form>
</div>
</main>
<!-- /form handling -->


<!-- include footer -->
<%- include('include/_footer')%>
<!-- /include footer -->