<!-- include header -->
<%- include('include/_header')%>
<!-- /include header -->

<!-- Main section -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/table"><i class="fas fa-angle-double-left"></i>All User</a>
            </div>
         </div>
         <div class="text-center">
            <h2 class="text-dark">Update User</h2>
            <span class="text-light">Use the below form to update an account</span>
         </div>
<!-- /Main section -->

<!-- add user form-->
<!-- form handling -->
<form method="post" id="update_user">
    <div class="new_user">
        <div class="form-group">
            <label for="parkno" class="text-light">Parking no</lable>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="tel" name="parkno" class="form-control" required pattern="[0-9]{4}" placeholder="0000*" value="<%= user.parkno %>">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">Owner Name</label>
            <input type="text" name="name" class="form-control" required placeholder="Name*" value="<%= user.name %>">
        </div>
        <div class="form-group">
            <label for="contactno" class="text-light">Contact no</label>
            <input type="tel" class="form-control" required placeholder="Mobile number*" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" name="contactno" value="<%= user.contactno %>"/>
        </div>
        <div class="form-group">
            <label for="company" class="text-light">Company</label>
            <input type="text" name="company" class="form-control" required placeholder="Vec Name*" value="<%= user.company %>">
        </div>
        <div class="form-group">
            <label for="category" class="text-light">Category</label>
            <div class="radio inline">
            <input type="radio" id="radio-2" name="category" value="Two Wheeler" <%= user.category == 'Two Wheeler'?'checked':''%>>
            <label for="radio-2" class="radio-label">Two Wheeler</label>
            </div>
            <div class="radio inline">
            <input type="radio" id="radio-3" name="category" value="Four Wheeler" <%= user.category == 'Four Wheeler'?'checked':''%>>
            <label for="radio-3" class="radio-label">Four Wheeler</label>
            </div>  
            <div class="form-group">
                <label for="regno" class="text-light">Reg no</label>
                <input type="text" name="regno" required pattern="[A-Z]{2}[0-9]{4}" placeholder="XX0000*" value="<%= user.regno %>"/>
            </div>
            <div class="form-group">
                <label for="outtime" class="text-light">Out Time</label>
                <input type="hidden" name="charge" value="35" value="<%= user.charge %>">
                <input type="time" name="outtime" value="" class="form-control" placeholder="00:00" value="<%= user.outtime %>">
            </div>
        </div>
        <br>
       <div class="form-group" id="update_user">
        <button type="submit" class="btn text-white update" >Save</button>
       </div>
   </div>
   <br><br>
   </form>

</div>
</main>

<!-- include footer -->
<%- include('include/_footer')%>
<!-- /include footer -->

<!-- <%= user.email %> -->

<!-- <%= user.status == 'Inactive'?'checked':''%>> -->